<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
 <h1>This is gym listing</h1>
  <p>This is a demo static page for web application development...</p>
</body>
</html>
