 <!DOCTYPE html>
 <html>
 <head>
   <title>This is a login page</title>
<link rel="stylesheet" type="text/css" href="style1.css">
 </head>
 <body>
   <h1>This is a login page</h1>
    <p>This is a demo static page for web application development...</p>
 </body>
 </html>
