<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style3.css">
<style>
body {
  background-color: white;
}

h1 {
  color : blue;
  margin-left: 30px;
}

p {
 background-color: black;
 font-size: 52px;
 color: green;
 text-align: center;
 border: 5px;
}
</style>
</head>

<body>
  <h1>This is the members page</h1>
   <p>This is a demo static page for web application development...</p>
</body>
</html>
